<div id="wrapper">
    <div class="row">
		<div class="">
            <%= nivo_slider id: 'feature_slider', :theme => :kntu do %>
              <%= image_tag "slides/infographic.jpg" %>
              <%= image_tag "slides/slide-1.jpg" %>
              <%= image_tag "slides/slide-2.jpg" %>
            <% end %>
        </div>
    </div>
	
	<div class="row">
		<div class="g_6">
			<% if user_signed_in? %>
              <%= render 'main/news_feed', :articles => @articles[0..3] %>
			<% else %>
				<%= render 'main/signin' %>
			<% end %>
		</div>
		<div class="g_6">
          <% if user_signed_in? %>
              <%= render 'main/news_feed', :articles => @articles[3..-1] %>
          <% else %>
              <%= render 'main/news_feed', :articles => @articles[0..3] %>
          <% end %>
		</div>
	</div>
</div>