<script>
	$(function(){
		$("#slides").slides({
			responsive: true
		});
	});
</script>

<div id="wrapper">
	<div class="row">
		<div id="main-slider" class="g12">
			<div id="slider_container">
				<div id="slides">
					<img src="slides/slide-1.jpg" width="100%" alt="Slide 1">
					<img src="slides/slide-2.jpg" width="100%" alt="Slide 2">
				</div>
			</div>
		</div>
	</div>
	
	
	
	<div class="row">
		<div id="main-user-form" class="g_6">
			<% if user_signed_in? %>
				<span> Settings </span>
			<% else %>
				<%= render 'main/signin' %>
			<% end %>
		</div>
		<div id="main-articles-form" class="g_6">
			<table>
			<% @articles.each do |article| %>
			  <tr>
			    <td><%= article.user.email %></td>
			    <td><%= article.title %></td>
			    <td><%=  truncate(article.text, :length => 40) %></td>
			    <% if can? :read, article %>
			    	<td><%= link_to 'Show', article %></td>
			    <% end %>
			    <% if can? :edit, article %>
			    	<td><%= link_to 'Edit', edit_article_path(article) %></td>
			    <% end %>
			    <% if can? :destroy, article %>
			    	<td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			    <% end %>
			  </tr>
			<% end %>
			</table>
		</div>
	</div>
</div>