- breadcrumb :curator, @semester, @teacher
= render 'application/breadcrumb', breadcrumb_wrapper_class: ''

%h2.horizontal_centered= @teacher.full_name

%table.table.table-bordered.table-hover
  - @double_classes.each do |double_class|
    %tr
      %td= double_class.double_class_type.name
      %td= double_class.name
      %td= double_class.study_group.group.name

%h3.horizontal_centered= I18n.t('active_admin.schedule.title_index')
= render 'application/schedule'
