- breadcrumb :lesson_marks, @lesson
= render 'application/breadcrumb', breadcrumb_wrapper_class: ''

- if @lesson_marks and not @lesson_marks.empty?
  %table.table.table-hover
    %tr
      %th= t('marks_table.date')
      %th= t('marks_table.student')
      %th= t('marks_table.score')
      %th= t('marks_table.module')
      %th= t('marks_table.actions')
    - @lesson_marks.each do |lesson_mark|
      %tr
        %td= lesson_mark.date
        %td= lesson_mark.student.full_name
        %td= lesson_mark.score
        %td= lesson_mark.module
        %td
          -# Button to trigger modal
          = link_to content_tag( :i, '', :class => 'icon-pencil' ), "#editLessonMarkModal#{lesson_mark.id}", {'data-toggle' => 'modal'}
          = link_to content_tag( :i, '', :class => 'icon-trash' ), lesson_lesson_mark_path(@lesson, lesson_mark), :confirm => t('mark_destroy_confirm'), :method => :delete
          = render 'lesson_mark/modal_form', :id => "editLessonMarkModal#{lesson_mark.id}", :lesson_mark => lesson_mark
- else
  %h4.horizontal_centered= t('no_marks_title')

= link_to t('new_mark_title'), '#createLessonMarkModal', {:class => 'btn', 'data-toggle' => 'modal'}
= render 'lesson_mark/modal_form', :id => 'createLessonMarkModal', :lesson_mark => @lesson.lesson_marks.new
