- breadcrumb :additional_marks, @double_class
= render 'application/breadcrumb', breadcrumb_wrapper_class: ''

- if @additional_marks and not @additional_marks.empty?
  %table.table.table-hover
    %tr
      %th= t('additional_marks_table.date')
      %th= t('additional_marks_table.study_type')
      %th= t('additional_marks_table.study_description')
      %th= t('additional_marks_table.student')
      %th= t('additional_marks_table.score')
      %th= t('additional_marks_table.module')
      %th= t('additional_marks_table.actions')
    - @additional_marks.each do |additional_mark|
      %tr
        %td= additional_mark.date
        %td= additional_mark.study_type.name
        %td= additional_mark.study_description
        %td= additional_mark.student.full_name
        %td= additional_mark.score
        %td= additional_mark.module
        %td
          = link_to content_tag( :i, '', :class => 'icon-pencil' ), "#editAdditionalMarkModal#{additional_mark.id}", {'data-toggle' => 'modal'}
          = link_to content_tag( :i, '', :class => 'icon-trash' ), double_class_additional_mark_path(@double_class, additional_mark), :confirm => t('additional_mark_destroy_confirm'), :method => :delete
          = render 'additional_mark/modal_form', :id => "editAdditionalMarkModal#{additional_mark.id}", :additional_mark => additional_mark
- else
  %h4.horizontal_centered= t('no_additional_marks_title')

= link_to t('new_additional_mark_title'), '#createAdditionalMarkModal', {:class => 'btn', 'data-toggle' => 'modal'}
= render 'additional_mark/modal_form', :id => 'createAdditionalMarkModal', :additional_mark => @double_class.additional_marks.new