- breadcrumb :double_classes, @current_semester
= render 'application/breadcrumb', breadcrumb_wrapper_class: ''

.row
  .well.g_3
    = render_navigation do |primary|
      - @teacher_semesters.each do |semester|
        - primary.item :semester, semester.name, teacher_semester_double_classes_path(semester)
      - primary.dom_class = 'nav nav-list'

  .g_9
    %table.table.table-hover
      - @double_classes.each do |double_class|
        %tr
          %td= double_class.study_group.group.name
          %td= double_class.double_class_type.name
          %td= double_class.name
          %td= link_to 'Lessons', double_class_lessons_path(double_class)
          %td= link_to 'Additional marks', double_class_additional_mark_index_path(double_class)
