= render 'application/statistic_navigation', breadcrumb_wrapper_class: ''

%table.table.table-hover
  - @double_classes.each do |double_class|
    %tr
      %td= double_class.study_group.group.name
      %td= double_class.double_class_type.name
      %td= double_class.name
      %td= link_to 'Lessons', double_class_lessons_path(double_class)
