- breadcrumb :study_group_students, @study_group

- if @study_group.double_classes.empty?
  = render 'application/breadcrumb', breadcrumb_wrapper_class: ''
- else
  .row
    = render 'application/breadcrumb', breadcrumb_wrapper_class: 'g_8'
    .g_4
      .btn-group.pull-right{:id => :double_classes_dropdown}
        %button.btn.dropdown-toggle{:id => :double_classes_dropdown, 'data-toggle' => 'dropdown'}
          - if @selected_double_class.nil?
            = I18n.t('subjects_title')
          - else
            = @selected_double_class.subject.name
          %span.caret
        %ul.dropdown-menu
          - @study_group.double_classes.each do |double_class|
            -if double_class.lessons.any?
              %li= link_to '%s | %s' % [ double_class.double_class_type.name, double_class.subject.name],
                    url_for( study_group_students_path(@study_group, :double_class_id => double_class.id) )

- if @selected_double_class.nil?
  = render 'students/students_table'
- else
  = render 'students/students_mark_table'