<h1><%= t :news %></h1>
<% @articles.each do |article| %>
<div class="article">
<h3><%= article.title %></h3>
<div class="article-info">
<%= article.user.email %>
<div class="pull-right">
<% if can? :read, article %>
    	<td><%= link_to 'Show', article %></td>
    <% end %>
    <% if can? :edit, article %>
    	<td><%= link_to 'Edit', edit_article_path(article) %></td>
    <% end %>
    <% if can? :destroy, article %>
    	<td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
</div>
</div>
<div class="article-text"><%= raw article.text %></div>
</div>
<% end %>

<% if can? :create, Article %>
	<div class="article-add"><%= link_to 'New Article', new_article_path %></div>
<% end %>
