<p>
  <%= @article.user.email %>
</p>

<p>
  <%= @article.title %>
</p>

<p>
  <%= raw @article.text %>
</p>

<% if can? :update, @article %>
  <%= link_to t('article.update.action'), edit_article_path(@article) %> |
<% end %>
<%= link_to t('article.back'), articles_path %>
