- breadcrumb :semester_study_groups, @semester
= render 'application/breadcrumb', breadcrumb_wrapper_class: ''

.row
  .well.g_3
    = render_navigation do |primary|
      - @recent_semesters.each do |semester|
        - primary.item :semester, semester.name, semester_groups_path(semester)
      - primary.dom_class = 'nav nav-list'

  .g_9
    %table.table.table-hover
      - @groups.each do |group|
        %tr
          %td= group.name
          %td= link_to I18n.t('students_title'), url_for( semester_group_students_path(@semester, group) )
          %td= link_to group.teacher.full_name, url_for( semester_teacher_path(@semester, group.teacher) )
          %td= link_to I18n.t('schedule_title'), url_for( semester_group_group_schedule_index_path(@semester, group) )
