= render 'application/statistic_navigation'

%table.table.table-hover
  - @groups.each do |group|
    %tr
      %td= group.name
      %td= link_to "Студенти", url_for( semester_group_students_path(@semester, group) )
      %td= link_to group.teacher.name, "#"
      %td= link_to I18n.t('active_admin.schedule.title_index'), url_for( semester_group_group_schedule_index_path(@semester, group) )
