- breadcrumb :lessons, @double_class
= render 'application/breadcrumb', breadcrumb_wrapper_class: ''

- if @lessons and not @lessons.empty?
  %table.table.table-hover
    %tr
      %th= 'Date'
      %th= 'Type'
      %th= 'Description'
      %th= 'Marks'
      %th= 'Presences'
      %th= 'Actions'
    - @lessons.each do |lesson|
      %tr
        %td= lesson.date
        %td= lesson.double_class.double_class_type.name
        %td= lesson.description
        %td= link_to 'Marks', lesson_lesson_mark_index_path(lesson)
        %td= link_to 'Presences', lesson_presence_index_path(lesson)
        %td
          = link_to content_tag( :i, '', :class => 'icon-pencil' ), "#editLessonModal#{lesson.id}", {'data-toggle' => 'modal'}

          -# Modal
          .modal.hide.fade{:id => "editLessonModal#{lesson.id}", :tabindex => '-1', :role => 'dialog', 'aria-labelledby' => 'myModalLabel',
            'aria-hidden' => 'true'}
            .modal-header
              %button{:type => 'button', :class => 'close', 'data-dismiss' => 'modal', 'aria-hidden' => 'true'}= '×'
              %h3= 'New lesson'
            .modal-body
              = render 'lessons/form', :lesson => lesson

          = link_to content_tag( :i, '', :class => 'icon-trash' ), lesson_path(lesson), :confirm => 'Are you sure?', :method => :delete
- else
  = 'You do not any lessons yet'


-# Button to trigger modal
= link_to 'Create new lesson', '#createLessonModal', {:class => 'btn', 'data-toggle' => 'modal'}

-# Modal
.modal.hide.fade{:id => 'createLessonModal', :tabindex => '-1', :role => 'dialog', 'aria-labelledby' => 'myModalLabel',
  'aria-hidden' => 'true'}
  .modal-header
    %button{:type => 'button', :class => 'close', 'data-dismiss' => 'modal', 'aria-hidden' => 'true'}= '×'
    %h3= 'New lesson'
  .modal-body
    = render 'lessons/form', :lesson => @double_class.lessons.new
