.schedule_div
  %table.schedule_table.table-hover
    - [I18n.t('active_admin.schedule.days.monday'),
        I18n.t('active_admin.schedule.days.tuesday'),
        I18n.t('active_admin.schedule.days.wednesday'),
        I18n.t('active_admin.schedule.days.thursday'),
        I18n.t('active_admin.schedule.days.friday')].each do |day_name|
      %th= day_name
    - (1..5).each do |double_class|
      %tr
        - (1..5).each do |day|
          - day_schedule = schedule_for_schedule_cell(day, double_class, @schedule)
          %td.schedule_general_table_wrapper
            - count_rows = get_count_rows(day_schedule)
            - count_columns = get_count_columns(day_schedule)
            - if count_rows == 0 and count_columns == 0
              .full_width.full_height.left_border.centered_cell= ''
            - elsif count_rows == 1 and count_columns == 1
              .full_width.full_height.left_border.centered_cell= day_schedule.first.to_s

            - elsif count_rows == 1
              - (1..get_count_columns(day_schedule)).each do |column_index|
                .vertical_block.left_border
                  - case get_count_rows_for_column(column_index, day_schedule)
                    - when 1
                      = get_rows_for_column(column_index, 1, day_schedule).to_s
                    - when 2
                      - text = get_rows_for_column(column_index, 1, day_schedule).to_s
                      %div{class: [:horizontal_block] + get_font_css_class(text)}= text
                      %div.horizontal_delimeter
                      - text = get_rows_for_column(column_index, 2, day_schedule).to_s
                      %div{class: [:horizontal_block] + get_font_css_class(text)}= text
              .vertical_block_resizer

            - elsif count_columns == 1
              %div.horizontal_block
                - case get_count_columns_for_row(1, day_schedule)
                  - when 1
                    %div.half_height.full_width.centered_cell.left_border= get_columns_for_row(1, 1, day_schedule).to_s
                  - when 2
                    - (1..2).each do |column_index|
                      - text = get_columns_for_row(column_index, 1, day_schedule).to_s
                      %div{class: [:left_border, :half_vertical_block] + get_font_css_class(text)}= text
                    .vertical_block_resizer
              %div.horizontal_delimeter
              %div.horizontal_block
                - case get_count_columns_for_row(2, day_schedule)
                  - when 1
                    %div.half_height.full_width.centered_cell.left_border= get_columns_for_row(1, 2, day_schedule).to_s
                  - when 2
                    - (1..2).each do |column_index|
                      - text = get_columns_for_row(column_index, 2, day_schedule).to_s
                      %div{class: [:left_border, :half_vertical_block] + get_font_css_class(text)}= text
                    .vertical_block_resizer

            - else
              %div.horizontal_block
                - (1..get_count_columns(day_schedule)).each do |column_index|
                  - text = get_columns_for_row(column_index, 1, day_schedule).to_s
                  %div{class: [:left_border, :half_vertical_block] + get_font_css_class(text)}= text
                .vertical_block_resizer
              %div.horizontal_delimeter
              %div.horizontal_block
                - (1..get_count_columns(day_schedule)).each do |column_index|
                  - text = get_columns_for_row(column_index, 2, day_schedule).to_s
                  %div{class: [:left_border, :half_vertical_block] + get_font_css_class(text)}= text
                .vertical_block_resizer