- unless @group_double_classes.nil? or @group_double_classes.empty?
  .row
    .g_9
      %ul.breadcrumb
        - @navigation.each do |navigation_element|
          - if navigation_element[:url].nil?
            %li.active
              = navigation_element[:name]
          - else
            %li
              = link_to navigation_element[:name], navigation_element[:url]
              %span.divider
                = '/'

    - unless @group_double_classes.nil?
      - unless @group_double_classes.empty?
        .g_3
          .btn-group.pull-right{:id => :double_classes_dropdown}
            %button.btn.dropdown-toggle{:id => :double_classes_dropdown, 'data-toggle' => 'dropdown'}
              - if @choosed_double_class.nil?
                = I18n.t('active_admin.subject.menu')
              - else
                = @choosed_double_class.subject.name
              %span.caret
            %ul.dropdown-menu
              - @group_double_classes.each do |double_class|
                %li= link_to '%s | %s' % [ double_class.double_class_type.name, double_class.subject.name], url_for( semester_group_students_path(@semester, @study_group, :double_class_id => double_class.id) )
- else
  %ul.breadcrumb
    - @navigation.each do |navigation_element|
      - if navigation_element[:url].nil?
        %li.active
          = navigation_element[:name]
      - else
        %li
          = link_to navigation_element[:name], navigation_element[:url]
          %span.divider
            = '/'