- if presence.new_record?
  = simple_form_for(presence, :url => lesson_presence_index_path(presence.lesson),
  :method => :post, :html => {:class => 'form-horizontal' }) do |f|
    .form-inputs
      = f.association :lesson, label_method: :date, :default => presence.lesson
      - if presence.student
        = f.association :student, label_method: :full_name, collection: presence.lesson.double_class.study_group.students, :selected => presence.student_id
      - else
        = f.association :student, label_method: :full_name, collection: presence.lesson.double_class.study_group.students
      = f.input :was_present
      = f.input :module, collection: 1..NUMBER_OF_MODULES

    .form-actions
      = f.button :submit, t('create_presence')
- else
  = simple_form_for(presence, :url => lesson_presence_path(presence.lesson, presence),
  :method => :put, :html => {:class => 'form-horizontal' }) do |f|
    .form-inputs
      = f.association :lesson, label_method: :date, :default => presence.lesson
      = f.association :student, label_method: :full_name, collection: presence.lesson.double_class.study_group.students
      = f.input :was_present
      = f.input :module, collection: 1..NUMBER_OF_MODULES

    .form-actions
      = f.button :submit, t('update_presence')