- breadcrumb :presences, @lesson
= render 'application/breadcrumb', breadcrumb_wrapper_class: ''

- if @presences and not @presences.empty?
  %table.table.table-hover
    %tr
      %th= t('presence_table.student')
      %th= t('presence_table.date')
      %th= t('presence_table.presence')
      %th= t('presence_table.module')
      %th= t('presence_table.actions')
    - @presences.each do |presence|
      %tr{:class => presence.was_present ? 'success' : 'error' }
        %td= presence.student.full_name
        %td= presence.date
        %td= presence.was_present ? t('presence_states.present_title') : t('presence_states.absent_title')
        %td= presence.module
        %td
          = link_to content_tag( :i, '', :class => 'icon-pencil' ), "#editPresenceModal#{presence.id}", {'data-toggle' => 'modal'}
          = link_to content_tag( :i, '', :class => 'icon-trash' ), lesson_presence_path(@lesson, presence), :confirm => t('presence_destroy_confirm'), :method => :delete
          = render 'presence/form_modal', :id => "editPresenceModal#{presence.id}", :presence => presence

- else
  %h4.horizontal_centered= t('no_presence_title')

= link_to t('new_presence_title'), '#createPresenceModal', {:class => 'btn', 'data-toggle' => 'modal'}
= render 'presence/form_modal', :id => 'createPresenceModal', :presence => @lesson.presences.new