<div class="c_3 logo"><%= link_to t('app.logo'), root_path %></div>
<div class="c_9 navigation"><ul>
  <% if can? :read, Article %>
	<li>
	<%= link_to(t('article.news'), articles_path) %>
	</li>
  <% end %>
  <li>

    <% current_semester = Semester.last %>
    <% if current_semester %>
        <%= link_to t('app.study_title'), semester_groups_path(current_semester) %>
    <% else %>
        <%= link_to t('app.study_title'), semesters_path %>
    <% end %>
  </li>
</ul>

<ul class="pull-right">
  <% if user_signed_in? %>
    <li>
    <span> <%= t :wellcome %> <br> <%= current_user.email  %></span>  
    </li>
    <% if can? :read, Lesson %>
      <li>
        <% current_semester = Teacher.find(current_user.teacher_id).last_teacher_semester %>
        <% if current_semester %>
          <%= link_to(t('app.my_subjects_title'), teacher_semester_double_classes_path(current_semester)) %>
        <% else %>
          <%= link_to(t('app.my_subjects_title'), teacher_semesters_path) %>
        <% end %>
      </li>
    <% end %>
	<li>
    <%= link_to(t(:logout), destroy_user_session_path, :method=>'delete') %>        
    </li>
	<li>
    <%= link_to(t(:edit_account), edit_user_registration_path) %>
    </li>
  <% else %>
    <li>
    <%= link_to(t(:login), new_user_session_path)  %>  
    </li>
	<li>
    <%= link_to(t(:sign_up), new_user_registration_path)  %>
    </li>
  <% end %>
    <li id="lang">
	<% case I18n.locale %>
	<% when :uk %>
	<%= link_to "", "#", :id => :uk, :class => "lang_popover",
		"data-original-title" => t('languages.select'),
		:rel => "popover",
		"data-content" => "<ul role='menu'>" +
							"<li>#{ link_to '', url_for(:locale => :ru), :id => :ru } #{t 'languages.ru'}</li>" +
							"<li>#{ link_to '', url_for(:locale => :en), :id => :en } #{t 'languages.en'}</li>" +
							"</ul>"
	%>
	<% when :ru %>
	<%= link_to "", "#", :id => :ru, :class => "lang_popover", 
		"data-original-title" => t('languages.select'),
		:rel => "popover",
		"data-content" => "<ul role='menu'>" +
							"<li>#{ link_to '', url_for(:locale => :uk), :id => :uk } #{t 'languages.uk'}</li>" +
							"<li>#{ link_to '', url_for(:locale => :en), :id => :en } #{t 'languages.en'}</li>" +
							"</ul>"
	%>
	
	<% when :en %>
  	<%= link_to "", "#", :id => :en, :class => "lang_popover", 
		"data-original-title" => t('languages.select'),
		:rel => "popover",
		"data-content" => "<ul role='menu'>" +
							"<li>#{ link_to '', url_for(:locale => :uk), :id => :uk } #{t 'languages.uk'}</li>" +
							"<li>#{ link_to '', url_for(:locale => :ru), :id => :ru } #{t 'languages.ru'}</li>" +
							"</ul>"
	%>
  	<% end %>
	</li>
</ul>
</div>